<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LootConsoleApp.Properties.Settings.connectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\John\Documents\Visual Studio 2017\Projects\LootFetchService\LootFetchService\LootServiceRecords.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        
        <add name="LootConsoleApp.Properties.Settings.newLootConStr"
            connectionString="Data Source=JOHN-PC;Initial Catalog=NewLootDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>